In [67]:
# Load libraries
import awscli
import selenium
import boto3
import pandas as pd
import time

from selenium import webdriver

# SCRAPE THE WEBSITE
# Call the webdriver
browser = webdriver.Chrome(r"C:\Users\Rekha Chaudhary\Downloads\chromedriver-win64\chromedriver-win64\chromedriver.exe")

# Enter the URL path that needs to be accessed by webdriver
browser.get('https://www.charitiesnys.com/RegistrySearch/search_charities.jsp')

# Identify xpath of location to select element
inputElement = browser.find_element('xpath', "/html/body/div/div[2]/div/table/tbody/tr/td[2]/div/div/font/font/font/font/font/font/table/tbody/tr[4]/td/form/table/tbody/tr[2]/td[2]/input[1]")
inputElement.send_keys('0')
inputElement1 = browser.find_element('xpath', "/html/body/div/div[2]/div/table/tbody/tr/td[2]/div/div/font/font/font/font/font/font/table/tbody/tr[4]/td/form/table/tbody/tr[10]/td/input[1]").click()

# Identify the table to scrape
table = browser.find_element('css selector', 'table.Bordered')

print(table)

C:\Users\Rekha Chaudhary\AppData\Local\Temp\ipykernel_12436\4287220719.py:12: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(r"C:\Users\Rekha Chaudhary\Downloads\chromedriver-win64\chromedriver-win64\chromedriver.exe")

<selenium.webdriver.remote.webelement.WebElement (session="cb6100e7dcd27f13af453676e009afcd", element="AAF198DACBAA8FC9A4CA6438D0D5292B_element_49")>

In [68]:
# Create empty dataframe
df = []

# Locate the table
table = browser.find_element(By.CSS_SELECTOR, 'table.Bordered')

# Locate the rows inside the table using By.TAG_NAME
rows = table.find_elements(By.TAG_NAME, 'tr')

# Loop through dataframe to export table
for row in rows:
    cols = df.append([cell.text for cell in row.find_elements(By.TAG_NAME, 'td')])

# Update dataframe with header
df = pd.DataFrame(df[1:], columns=["Organization Name", "NY Reg #", "EIN", "Registrant Type", "City", "State"])

# Display the DataFrame in tabular format
display(df)

,Organization Name,NY Reg #,EIN,Registrant Type,City,State
0,"""Forever Captain Poodaman"" The Ahmad Butler Fo...",48-07-16,843800926,NFP,PHILADELPHIA,PA
1,"""Incredibly Blessed"" Inc",49-54-61,842071758,NFP,STATEN ISLAND,NY
2,"""R"" S.U.C.C.E.S.S. Foundation Inc.",49-06-59,874012670,NFP,ROCHESTER,NY
3,"""Studio 5404"" Inc.",44-39-58,463180470,NFP,MASSAPAQUA,NY
4,"""THEY ARE HAITIAN"" FUND, INC.",20-63-46,300170128,NFP,HUDSON,NY
5,"""Y"" Dive, Inc.",48-45-01,854252095,NFP,SAINT ALBANS,NY
6,(ASMA) American Syrian Multicultural Associati...,42-84-63,273130182,NFP,BROOKLYN,NY
7,#FeedHamburg,48-37-35,854150318,NFP,HAMBURG,NY
8,#HicksStrong Inc.,48-10-48,842612081,NFP,CLIFTON PARK,NY
9,#WalkAway Foundation,47-15-80,832820906,NFP,CARLSBAD,CA
10,04/11 10:17 PM test,47-13-95,206256427,NFP,ALBANY,NY
11,1/20/21 Action Fund,46-99-13,832210730,NFP,SAN FRANCISCO,CA
12,"10/40 Connections, Inc.",45-70-15,621825230,NFP,HIXSON,TN
13,"1000 Feet Project, Inc",45-00-14,473820859,NFP,NEW YORK,NY
14,1000 Islands Hose Haulers,45-38-38,454570241,NFP,CARTHAGE,NY

In [70]:
###LOAD THE FILE INTO S3####
# prepare csv file name   
pathname = 'https://s3.console.aws.amazon.com/s3/buckets/database-update-bucket-rani?region=us-east-1&tab=objects'#specify location of s3:/{my-bucket}/
filename= 'charities_bureau_scrape_' #name of your group
datetime = time.strftime("%Y%m%d%H%M%S") #timestamp
filenames3 = "%s%s%s.csv"%(pathname,filename,datetime) #name of the filepath and csv file

#load file into s3. Pandas actually leverages boto to connect to s3 and can push the file directly into an s3 bucket
df.to_csv(filenames3, header=True, line_terminator='\n') 

#print success message
print("Successfull uploaded file to location:"+str(filenames3))

Successfull uploaded file to location:https://s3.console.aws.amazon.com/s3/buckets/database-update-bucket-rani?region=us-east-1&tab=objectscharities_bureau_scrape_20231205132450.csv

In [71]:
print("S3 Key:", s3_key)

S3 Key: charities_bureau_scrape_20231205132319.csv

In [73]:
import pandas as pd
import boto3
import time



# Construct S3 key (object key)
s3_key = 'charities_bureau_scrape_' + time.strftime("%Y%m%d%H%M%S") + '.csv'

# Load file into S3
df.to_csv(s3_key, header=True, index=False)

# Specify your S3 bucket name
bucket_name = 'database-update-bucket-rani'

# Explicitly set AWS credentials and region
aws_access_key_id = 'AKIA4OPMEVP4AQPSEP7N'
aws_secret_access_key = 'r65xsgrxIsVGA4wMfhzOFJHPKyWQZdFyTk+VAdkP'
region_name = 'us-east-1'  # Replace with your region

# Create an S3 client
s3 = boto3.client('s3', aws_access_key_id=aws_access_key_id, aws_secret_access_key=aws_secret_access_key, region_name=region_name)

# Upload the file to S3
s3.upload_file(s3_key, bucket_name, s3_key)

# Print success message
print("Successfully uploaded file to S3 with key: " + s3_key)

Successfully uploaded file to S3 with key: charities_bureau_scrape_20231205132656.csv